.bg{
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background: url(../assets/bg.jpg) no-repeat center / 100%;
}
#door{
  position: relative;
  right: 0;
  background: url(../assets/door.png);
  width: 50vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}